inAPP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://talentsaga.dev
APP_BACKEND_THEME=default
APP_MULTI_LOCALE=true
APP_MULTI_LOCALE_OPTIONS=id,en,de
ENABLED_COUNTRIES=id,my,sg
JS_VERSION=2
CSS_VERSION=2

SITE_URL=http://talentsaga.dev
SITE_NAME="Talentsaga"

EMAIL_ADDRESS=info@talentsaga.com
EMAIL_NAME="Talentsaga"

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file

QUEUE_DRIVER=sync
QUEUE_NAME=talentsaga-default
QUEUE_THUMBNAILER_NAME=talentsaga-thumbnailer
QUEUE_HOST=127.0.0.1
QUEUE_TIMEOUT=900

SESSION_DRIVER=file
SESSION_NAME=talentsaga_session
SESSION_PATH="/"
SESSION_DOMAIN="5d972870.ngrok.io"
SESSION_SECURE=false

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mail.host
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

FB_CLIENT_ID=1206388149386156
FB_CLIENT_SECRET=4b97c5ae86cde16e070c190058a63680
FB_REDIRECT=http://talentsaga.dev/redirect/auth/facebook

TW_CLIENT_ID=Gtvy4JCA3QwQN1JTZt5mTwYXv
TW_CLIENT_SECRET=6HhIEyemjomJxoidI7n3ACaATEMf2QDT1l5HNl3d8L0SPdMUL9
TW_REDIRECT=http://talentsaga.dev/redirect/auth/twitter

GP_CLIENT_ID=199396583188-ed36bvan2oavhnitkk02dimk0aectrdh.apps.googleusercontent.com
GP_CLIENT_SECRET=_KG9trWNpm2w1-HFUpAIyglt
GP_REDIRECT=http://talentsaga.dev/redirect/auth/google


GA_TRACKING_ID=UA-79788319-1
