
.home-section {
    position: relative;
    padding: ($space * 2) 0;
}

.home-section--white {
    background: #fff;
}

.home-section-heading {
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
